USE [master]
GO
/****** Object:  Database [EmployeeCRUDDB]    Script Date: 7/02/2021 8:45:16 AM ******/
CREATE DATABASE [EmployeeCRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeCRUDDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeCRUDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeCRUDDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeCRUDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeCRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeCRUDDB]
GO
/****** Object:  Table [dbo].[EmployeeAccount]    Script Date: 7/02/2021 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAccount](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[employeeFirstName] [varchar](250) NOT NULL,
	[employeeLastName] [varchar](250) NOT NULL,
	[employeePosition] [varchar](250) NOT NULL,
	[employeeOffice] [varchar](250) NOT NULL,
	[employeeSalary] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeAccount] ON 

INSERT [dbo].[EmployeeAccount] ([employeeID], [employeeFirstName], [employeeLastName], [employeePosition], [employeeOffice], [employeeSalary]) VALUES (1, N'Nicholas', N'Browning', N'Junior .NET Developer', N'Canberra', 60000)
SET IDENTITY_INSERT [dbo].[EmployeeAccount] OFF
GO
USE [master]
GO
